*.admin
*.uvopt
*.obj
*.lnp
*.lst
*.hex
*.htm
CH551CustomKeyboard/Objects/CH552E-RX
*.m51
*.json
*.exe
*.o
*.qm
*.dll
CustomKeyboard/Objects/DIY
*.Debug
*.Release
KeyBoardSetter/build-KeyboardSetter-Desktop_Qt_5_14_2_MinGW_32_bit-Debug/Makefile
CustomKeyboard/CH552E.uvgui.Oscar
CustomKeyboard/Objects/main.__i
KeyBoardSetter/build-KeyboardSetter-Desktop_Qt_5_14_2_MinGW_32_bit-Debug/usersoscarappdatalocal*
*.Oscar
*.Administrator
*.__i
KeyBoardSetter/build-KeyboardSetter-Desktop_Qt_5_14_2_MinGW_32_bit-Debug/usersadminappdatalocal*
KeyBoardSetter/build-KeyboardSetter-Desktop_Qt_5_14_2_MinGW_32_bit-Release/release/*
